@page
@model RevisionsModel
@{
  ViewData["Title"] = "Revisões";
  <link rel="stylesheet" href="~/css/revisions.css" />
}

<br /> <br />

<div class="container">
  <div class="columns">
    <div class="column is-6">
      <h4 class="title is-4">Revisões</h4>
      <p>Confira abaixo as próximas revisões propostas de estudos.</p>

      <br />

      <div class="cards">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div class="header">
                <span><b>23/04/2021 - 1 SEMANA</b></span>
                <div class="buttons">
                  <button class="button is-small is-warning" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/x-circle.svg" alt="">
                    </span>
                    <span>Ignorar</span>
                  </button>
                  <button class="button is-small is-success" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/play-white.svg" alt="">
                    </span>
                    <span>Iniciar</span>
                  </button>
                </div>
              </div>
              <span>Língua portuguesa - Acentuação gráfica</span>
              <br />
              <p class="title-card">Acentuação gráfica. Vídeoaulas: 09 - Acentuação Gráfica - Teoria - Parte 01-04.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div class="header">
                <span><b>23/04/2021 - 1 SEMANA</b></span>
                <div class="buttons">
                  <button class="button is-small is-warning" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/x-circle.svg" alt="">
                    </span>
                    <span>Ignorar</span>
                  </button>
                  <button class="button is-small is-success" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/play-white.svg" alt="">
                    </span>
                    <span>Iniciar</span>
                  </button>
                </div>
              </div>
              <span>Língua portuguesa - Acentuação gráfica</span>
              <br />
              <p class="title-card">Acentuação gráfica. Vídeoaulas: 09 - Acentuação Gráfica - Teoria - Parte 01-04.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div class="header">
                <span><b>23/04/2021 - 1 SEMANA</b></span>
                <div class="buttons">
                  <button class="button is-small is-warning" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/x-circle.svg" alt="">
                    </span>
                    <span>Ignorar</span>
                  </button>
                  <button class="button is-small is-success" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/play-white.svg" alt="">
                    </span>
                    <span>Iniciar</span>
                  </button>
                </div>
              </div>
              <span>Língua portuguesa - Acentuação gráfica</span>
              <br />
              <p class="title-card">Acentuação gráfica. Vídeoaulas: 09 - Acentuação Gráfica - Teoria - Parte 01-04.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div class="header">
                <span><b>23/04/2021 - 1 SEMANA</b></span>
                <div class="buttons">
                  <button class="button is-small is-warning" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/x-circle.svg" alt="">
                    </span>
                    <span>Ignorar</span>
                  </button>
                  <button class="button is-small is-success" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/play-white.svg" alt="">
                    </span>
                    <span>Iniciar</span>
                  </button>
                </div>
              </div>
              <span>Língua portuguesa - Acentuação gráfica</span>
              <br />
              <p class="title-card">Acentuação gráfica. Vídeoaulas: 09 - Acentuação Gráfica - Teoria - Parte 01-04.</p>
            </div>
          </div>
        </div>
      </div>

      <br />

      <h1 class="title is-4">Revisões atrasadas</h1>
      <p>Confira abaixo as revisões atrasadas.</p>

      <br />

      <div class="cards">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div class="header">
                <span><b>23/04/2021 - 1 SEMANA</b></span>
                <div class="buttons">
                  <button class="button is-small is-warning" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/x-circle.svg" alt="">
                    </span>
                    <span>Ignorar</span>
                  </button>
                  <button class="button is-small is-success" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/play-white.svg" alt="">
                    </span>
                    <span>Iniciar</span>
                  </button>
                </div>
              </div>
              <span>Língua portuguesa - Acentuação gráfica</span>
              <br />
              <p class="title-card">Acentuação gráfica. Vídeoaulas: 09 - Acentuação Gráfica - Teoria - Parte 01-04.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div class="header">
                <span><b>23/04/2021 - 1 SEMANA</b></span>
                <div class="buttons">
                  <button class="button is-small is-warning" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/x-circle.svg" alt="">
                    </span>
                    <span>Ignorar</span>
                  </button>
                  <button class="button is-small is-success" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/play-white.svg" alt="">
                    </span>
                    <span>Iniciar</span>
                  </button>
                </div>
              </div>
              <span>Língua portuguesa - Acentuação gráfica</span>
              <br />
              <p class="title-card">Acentuação gráfica. Vídeoaulas: 09 - Acentuação Gráfica - Teoria - Parte 01-04.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div class="header">
                <span><b>23/04/2021 - 1 SEMANA</b></span>
                <div class="buttons">
                  <button class="button is-small is-warning" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/x-circle.svg" alt="">
                    </span>
                    <span>Ignorar</span>
                  </button>
                  <button class="button is-small is-success" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/play-white.svg" alt="">
                    </span>
                    <span>Iniciar</span>
                  </button>
                </div>
              </div>
              <span>Língua portuguesa - Acentuação gráfica</span>
              <br />
              <p class="title-card">Acentuação gráfica. Vídeoaulas: 09 - Acentuação Gráfica - Teoria - Parte 01-04.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div class="header">
                <span><b>23/04/2021 - 1 SEMANA</b></span>
                <div class="buttons">
                  <button class="button is-small is-warning" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/x-circle.svg" alt="">
                    </span>
                    <span>Ignorar</span>
                  </button>
                  <button class="button is-small is-success" onclick="">
                    <span class="icon is-small">
                      <img src="~/assets/play-white.svg" alt="">
                    </span>
                    <span>Iniciar</span>
                  </button>
                </div>
              </div>
              <span>Língua portuguesa - Acentuação gráfica</span>
              <br />
              <p class="title-card">Acentuação gráfica. Vídeoaulas: 09 - Acentuação Gráfica - Teoria - Parte 01-04.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <h1 class="title is-4">Configurações</h1>

      <p>
        <span class="tag is-danger is-light">Danger:</span>
        A alteração desta configuração não é retroativa aos estudos já realizados.
      </p>

      <br />

      <form>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar" checked>
            Revisão de 24 horas
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar" checked>
            Revisão de 48 horas
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 7 dias
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 10 dias
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 15 dias
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 1 mês
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 2 meses
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 3 meses
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 4 meses
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 5 meses
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 6 meses
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 7 meses
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 8 meses
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 9 meses
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 10 meses
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar">
            Revisão de 11 meses
          </label>
        </div>

        <br /> <br /> <br /> <br /> <br /> <br />
        <br /> <br /> <br /> <br /> <br />

        <div class="col-xs-12">
          <h6 class="title is-6">Revisões Multiplas de 7</h6>
          <p>Escolhendo os intervalos abaixo as revisões se repetirão sempre no mesmo dia da semana.</p>
        </div>

        <br /> <br /> <br /> <br /> <br />

        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar" checked>
            Revisão de 7 dias
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar" checked>
            Revisão de 14 dias
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar" checked>
            Revisão de 21 dias
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar" checked>
            Revisão de 28 dias
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar" checked>
            Revisão de 35 dias
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar" checked>
            Revisão de 42 dias
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar" checked>
            Revisão de 49 dias
          </label>
        </div>
        <div class="col-xs-6">
          <label class="checkbox">
            <input type="checkbox" name="foobar" checked>
            Revisão de 56 dias
          </label>
        </div>
      </form>

      <button class="button button-update is-success is-pulled-right" onclick="Modal.openAndCloseModal()">
        <span>Atualizar</span>
      </button>
    </div>
  </div>
</div>
</div>
