@page
@model StudyModel
@using System.Diagnostics
@{
  ViewData["Title"] = "Estudar";
  <link rel="stylesheet" href="~/css/study.css" />
  var currentDate = DateTime.Today.ToString("yyyy-MM-dd");
}

<br /> <br />

<div class="container">
  <h4 class="title is-4">Estudar</h4>

  <div class="columns">
    <div class="column">
      <div class="columns">
        <div class="column">
          <label class="label">Data</label>
          <input class="input" type="date" value="@currentDate">
        </div>
        <div class="column">
          <label class="label">Tipo de estudo</label>
          <div class="select">
            <select>
              <option>Teoria</option>
              <option>Exercícios</option>
              <option>Revisão</option>
              <option>Exerícios</option>
            </select>
          </div>
        </div>
      </div>

      <div class="block">
        <label class="label">Matéria</label>
        <div class="select">
          <select>
            <option>Selecione uma matéria</option>
            <option>Matéria 01</option>
            <option>Matéria 02</option>
          </select>
        </div>
      </div>

      <div class="block">
        <label class="label">Tema</label>
        <div class="select">
          <select disabled>
            <option>Agrupe este estudo a um tema</option>
            <option>Tema 01</option>
            <option>Tema 02</option>
          </select>
        </div>
      </div>

      <div class="block">
        <label class="label">Descrição/Observação</label>
        <div class="control">
          <textarea class="textarea" style="resize: none; height: 100px;"
            placeholder="Descreva o seu estudo para orientar suas revisões. (Ex: Livro Constitucional - pg. 57-69)"
            rows="10"></textarea>
        </div>
      </div>

      <div class="block">
        <center>
          <div class="content">
            <h6 class="title is-6">Deseja gerar revisões automáticas?</h6>
          </div>
        </center>
      </div>

      <div class="block">
        <center>
          <form>
            <div class="control">
              <label class="radio">
                <input type="radio" name="foobar" checked>
                Sim, eu quero!
              </label>
              <label class="radio">
                <input type="radio" name="foobar">
                Não, obrigado.
              </label>
            </div>
          </form>
        </center>
      </div>
    </div>

    <div class="column">
      <center>
        @* <form>
          <div class="control">
          <label class="radio">
          <input type="radio" name="foobar" value="C" checked>
          Crônometro
          </label>

          <label class="radio">
          <input type="radio" name="foobar" value="M">
          Manual
          </label>
          </div>
          </form> *@

        <div class="tabs is-toggle is-fullwidth">
          <ul>
            <li class="crono is-active" onclick="Tabs.toggleCrono()">
              <a>
                <span>Crônometro</span>
              </a>
            </li>
            <li class="manual" onclick="Tabs.toggleManual()">
              <a>
                <span>Manual</span>
              </a>
            </li>
          </ul>
        </div>

        <br />

        <div id="elementTimer">
          <h1 id="timer" class="title is-1">00:00:00</h1>
        </div>

        <br />

        <div id="elementManual" hidden>
          <div class="field is-horizontal" width="50px">
            <p class="hora-manual">
            <p class="control">
              <input class="input" type="text" placeholder="Hora" maxlength="2" data-rule-max="24" id="hora" name="hora"
                size="2px">
            </p>
            <span class="size-50">:</span>
            <p class="control">
              <input class="input" type="text" placeholder="Min" maxlength="2" data-rule-max="59" id="minuto"
                name="minuto" required="" aria-required="true" size="2px">
            </p>
            </p>
          </div>
        </div>


        <br /> <br />

        <div class="columns">
          <div class="column">
            <p class="control">
              <button class="button is-warning is-pulled-right" id="button-play" onclick="Modal.openAndCloseModal()">
                <span class="icon is-small">
                  <img src="~/assets/play.svg" alt="" width="19px">
                </span>
                <span>Iniciar</span>
              </button>
            </p>
          </div>

          <div class="column">
            <p class="control">
              <button class="button is-success is-pulled-right" onclick="Modal.openAndCloseModal()">
                <span class="icon is-small">
                  <img src="~/assets/check-square-white.svg" alt="" width="19px">
                </span>

                <span>Gravar</span>
              </button>
            </p>
          </div>

          <div class="column">
            <p class="control">
              <button class="button is-light is-pulled-right" id="button-stop" onclick="Modal.openAndCloseModal()">
                <span class="icon is-small">
                  <img src="~/assets/x-circle.svg" alt="" width="19px">
                </span>
                <span>Cancelar</span>
              </button>
            </p>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>
</div>
</div>

<script src="~/js/study.js" asp-append-version="true"></script>
